




@media screen and (max-width:590px){
   .nav-container
   {
    flex-direction: column;
    padding: 20px;
    
   }
   .logo-container{
    padding-right: 150px;
   }
   .product-section{
    flex-direction: column;
   }
   .product-container {
  flex-direction: column;
}

.add{
    flex-direction:column-reverse;
   }
}

