


body{
    max-width: 1400px;
    margin: 0 auto;
    
}

.pramary-title-color{
    color: rgba(224, 0, 127, 0.875);
}

/*header section styles start hare*/
.nav-container{
    background: #efebeb;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}
.logo-container{
    display: flex;
    align-items: center;
    width: 50%;
}  

.logo-container img{
    width: 100px;
   
}

.logo-text-container{
   width: 150px;
   font-size: 2.5rem; 
}

.nav-title-container{
    width: 50%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 10px;

}
.nav-titles{
 display: flex;
 align-items: center;
}
.nav-titles a{
    color: black;
    text-decoration: none;
    font-size: 1.3rem;
    margin-right: 20px;
}

.nav-logo-text{
    font-size:1.2rem;
    margin-right: 10px;
}
.nav-logo{
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 10px;
    display: flex;
    margin-right: 20px;
}
.nav-logo span{
    gap: 20px;
}
.fa-brands{
    font-size: 20px;  
}
.youtube-logo{
    margin-right: 10px;
}
     /*header section styles end hare*/


     /*main section start hare*/

          
     /*banner-section*/
.banner-container{
    width:100% ;
    height: 400px;
    display: flex;  
}
.banner-text-container{
    width: 50%;
    margin: 0 auto;
    display:grid;
    justify-content: center;
    align-items: center;
}
.banner-main-title{
    font-size: 2.5rem;
    margin-bottom:-40px;

}
.banner-focus-title{
    font-size: 4rem;
    margin-top: 40px;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
  
.buttons-div{
    display:grid;
    justify-content: center;
    align-items: center;
    margin-top: -60px;
}
.buttons-div .button{
    display: flex;
    
}
.bannar-btn-1{
    background-color: rgba(224, 0, 127, 0.875);
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    margin-right: 15px;
}
.banner-btn-2{
    background-color: rgba(52, 233, 88, 0.875);
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
}

.banner-image-container{
    width: 50%;
}
.banner-image-container img{
    width: 80%;
    height:400px;
}

    /*products-section-styles */

.product-section-title{
   text-align: center;
}
.product-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 13 00px;
    margin:0 0 auto 30px;
    min-height: 270px;
}
.single-product{
    width: 97%;
    border: 1px solid rgb(0, 255, 0);
}

.single-product img{
    width: 97%;
}
.product-tow{
    width: 97%;

}

.product-tow img{
    width: 97%;
}

.product-tree{
    width: 97%;
}

.product-tree img{
    width: 97%;
}

.product-four{
    width: 97%;
}

.product-four img{
    width: 97%;
}

 /*products-section-styles end */

/*add section start*/
.add{
    width: 90%;
    display: flex;
    margin-left: 15%;
}

.add-description{
    width: 50%;
    display:grid;
    justify-content: left;
    text-align:start;
    align-items: center;
}
.description-div{
    width: 300px;
   margin: 0 auto;
   text-align:end;
}
.add-banner img{
    width: 70%;
}
.add-banner .banner-toy-img{
    width: 200px;
    margin-top: -200px;
}
.add-banner{
    display: grid;
    grid-template-columns: repeat(1fr);
}
.banner-theme-img{
    display:flex ;
    margin: 0 auto;
}

/*add section end*/


/*product-items section styles start hare*/

.product-items-container{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    text-align: center;
    align-items: center;
    
    border: 1px solid red;

}
.product-variant{
    display: flex;
    align-items: center;
}
.product-variant img{
    width: 30px;
    margin-right: 10px;
}

.product-items-container-2 img{
    display: flex;
}











/*product-items section style end hare*/


/*main section end hare*/





























































